body {
    font-family: 'Inter', sans-serif;
}

header {
    color: #fff;
    background: -webkit-linear-gradient(40deg, #799F0C, #ACBB78);
    background: linear-gradient(40deg, #799F0C, #ACBB78);
    font-family: 'Work Sans', sans-serif;
}

header h1 {
    font-size: 4rem;
    font-weight: 600;
}

header p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
    font-size: 0.75rem;
}

footer a {
    color: #ffffff80
}

.code-block {
    width: 100%;
    display: block;
    padding: 0.25rem 0.5rem;
    color: #799F0C;
    background-color: #212529;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}